
<div class="row">
  <div class="span9 offset1 hero-unit">
    <h1><%= session[:book].current_page.outcome %></h1>
    <p><%= session[:book].current_page.content %></p>
    <p>
      <a class="btn btn-large btn-primary" href="/adventure" role="button">Play Again</a>
    </p>
  </div>
</div>