<h1>About</h1><br>
<p>Hi, I'm Mike Adeleke. I am a college student at Indiana University and Co-founder at <a href="http://unbouncepages.com/domi/">Domi</a>. We're making college housing easy. I'm using the skills I'm learning from <a href="https://rubyoffrails.com/">Ruby off Rails</a> to become a better developer as I am right now the only one.</p><br>
<p>I enjoy startups, soccer, programming, and have a love of learning. This month: customer development and growth hacking.</p>

<h2>My likes <%= @likes %></h2>
