<h1>About me:</h1>
<h2>Hi!  I'm Melissa, and <%= @random_text %></h2>
<break>
<br>
<form method="GET" action="/adventure">
	<label for="adventure"><h2>Are you ready for an adventure?</h2></label>
	<input type="submit" class="btn btn-large btn-primary" value="Yes!"/>
</form>