<h1>OH HAI THERE!</h1>

<p>This is an About Me page. Another one? Really? Blech.</p>

<p>How about an "About You" page instead? ;]</p>

<p>You seem to be coming from <%= request.ip %>, which we think is in <%= request.location.city %>, <%= request.location.country %></p>