<h1>Choose Your Own Adventure</h1>
<h2>You wake up on a road. It's foggy and dampy. In your bag is 30 gold pieces and a bacon sandwich. Which do you choose? (Enter A or B)</h2>

<form method="POST" action="/adventure">
  <input type="text" id="number" name="number"/>
  <input type="submit" class="btn btn-large btn-primary" value="View Number"/>
</form>
