<h1>OH HAI THERE</h1>
<form method="POST" action="/number">
	<label for="number">Max number for Randomitude</label>
	<input type="text" id="number" name="number"/>
	<input type="submit" class="btn btn-large btn-primary" value="View Number"/>
</form>
