<html>
  <head>
    <title> First webapp!</title> 
   </head>

<body>
  <h1>Welcome.<h1>
  <form method="POST" action="/number">
    <label for="number">Max number of Randomitude</label>
    <input type="text" id="number" name="number"/>
    <input type="submit" class="btn btn-large btn-primary" value="Are you feeling lucky"/> 
    </form> 
</body>
</html>

